<h1 mat-dialog-title>{{'ADD_NEW_VIDEO' | translate}}</h1>

<div mat-dialog-content>
  <form class="form" [formGroup]="videoForm">

    <mat-form-field appearance="outline">
      <mat-label>{{'VIDEO_URL' | translate}}</mat-label>
      <input [(ngModel)]="data.url" matInput placeholder="https://www.youtube.com/watch?v=e-z8ktCKm_M"
        [errorStateMatcher]="matcher" formControlName="url">
      <mat-icon matSuffix>code</mat-icon>
      <mat-error *ngIf="fm.url.errors">
        {{ 'VIDEO_URL_ERRORS' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'VIDEO_MODAL_BTN_CANCEL' | translate }}</button>
  <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="videoForm.invalid">
    {{ 'VIDEO_MODAL_BTN_ADD' | translate }}
  </button>
</div>