#sliders {
    height: 1000px;
    background-color: #141414
}

.playlist-title {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 70px;
  padding-top: 30px;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.container {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slider {
  display: flex;
  flex: 1 1 500px;
  list-style: none;
  padding: 0;
  margin: 0 10px 0 70px;
  width: 100%;
  padding-left: 40px;
}

.item {
  width: 235px;
  height: 135px;
  box-sizing: border-box;
  transition: 1s transform;
  -webkit-transition: 1s -webkit-transform;
  transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  backface-visibility: hidden;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.item:first-child {
  margin-left: 0;
}
.item {
  position: relative;
  background: white;
}
.item a {
  flex: 1;
}

.controls {
  flex: 1 1 100%;
  display: contents;
}

.controls button {
  border: none;
  background: transparent;
  padding: 12px 15px;
  color: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  -webkit-appearance: none;
  cursor: pointer;
  height: 135px;
  outline: 0;
}

.controls:hover button {
  color: white;
  background: #d5d5d58c;
}

.thumbnail {
  width: 235px;
  height: 135px;
  transition: .5s ease;
}

.summary {
  position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 16px;
    opacity: 0;
}

.item:hover .summary{
  opacity: 1;
  touch-action: auto;
}

.item:hover .thumbnail {
  opacity: 0.3;
}