<div *ngIf="playlists" id="sliders">

    <div *ngFor="let playlist of playlists" id="playlist">

        <p class="playlist-title">{{ playlist.i18n | translate }}</p>

        <div class="container" #tilesContainer>

            <ul class="slider">
                <li *ngFor="let video of playlist.videos" class="item">
                    <img class="thumbnail" [src]="video.thumbnail" alt="" width="235" style="object-fit: cover;">
                    <div class="summary">
                        {{ video.title }}
                    </div>
                </li>
            </ul>

            <div class="controls">
                <button class="prev" (click)="scrollLeft()" style="position: absolute; left: 0px;">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="next" (click)="scrollRight()" style="position: absolute; right: 0px;">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

        </div>

    </div>

</div>