<div id="profile-container">

  <h1 mat-dialog-title style="margin-top: 0px; padding-top: 10px">{{'ADD_PROFILE' | translate}}</h1>

  <div mat-dialog-content>

    <form class="form" [formGroup]="profileForm">

      <div id="test" class="profile-image-container">
        <div class="img-surrounder">
          <button mat-fab class="open" (click)="myfile.click()">
            <mat-icon>add</mat-icon>
          </button>
          <mat-spinner *ngIf="isUploading" class="spinner" color="accent"></mat-spinner>
          <img class="profile-image" [src]="profile.photoUrl" />
        </div>
        <input #myfile type="file" style="display: none;" (change)="uploadFile($event)" />
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{'PROFILE_USERNAME' | translate}}</mat-label>
        <input [(ngModel)]="profile.username" matInput placeholder="" formControlName="username">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-error *ngIf="fm.username.errors">
          {{ 'REQUIRED_FIELD' | translate }}
        </mat-error>
      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">
      {{ 'VIDEO_MODAL_BTN_CANCEL' | translate }}
    </button>
    <button mat-raised-button (click)="onCreateProfile()" [disabled]="profileForm.invalid || isUploading">
      {{ 'VIDEO_MODAL_BTN_ADD' | translate }}
    </button>
  </div>

</div>