/* new */

#profile-container {
    width: 500px;
    margin: 0 auto;
    border: 1px #555555 solid;
    border-radius: 10px;
    padding: 10px;
    /* vertically center */
    transform: translateY(60%);
    height: 310px;
}

.form>* {
    width: 100%;
}

.profile-image {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
    border-radius: 50%;
}

img {
    z-index: -1;
    transition: .3s ease;
}

.img-surrounder {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-grid;
    cursor: pointer;
}

.profile-image-container {
    text-align: center;
    padding-bottom: 10px;
}

.open {
    position: absolute;
    height: 100px;
    width: 100px;
    background: transparent;
    color: white;
    visibility: hidden;
}

.spinner {
    position: absolute;
    height: 100px;
    width: 100px;
}

.img-surrounder:hover .open {
    visibility: visible !important;
}

.img-surrounder:hover img {
    opacity: 0.2;
}