#footer {
    height: 50px;
    background-color: rgb(20, 20, 20);
}

.copyright {
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
    padding-top: 10px;
}

.btn-lang {
    position: absolute;
    right: 20px;
}

.flag {
    padding-right: 10px;
}

a {
    color :  #C0392B;
}
