<div class="general-container">

  <div class="logo"><img src="/assets/logo/yflix.png" alt="YFlix logo" style="width:150px;"></div>

  <form class="form" [formGroup]="signupForm">
    <div class="example-container">
      <h4>{{'CREATE_ACCOUTN' | translate}}</h4>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="userEmail" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage() | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{'PASSWORD' | translate}}</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="userPassword" type="password" required [formControl]="password">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage() | translate}}</mat-error> -->
        <mat-error *ngIf="password.errors?.minlength">{{'PASSWORD_LENGHT' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="Formule">
          <mat-option *ngFor="let formule of formules" [value]="formule.value" (onSelectionChange)="updateAmount(formule)">
            {{formule.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button id="btnSubmit" [disabled]="email.invalid || password.invalid" (click)="openHandler()">{{'REGISTER'
        | translate}}</button>
    </div>
  </form>

  <p class="text-center">{{"ALREADY_REGISTERED" | translate}} <a href="login">{{"SIGNIN" | translate}}</a><svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use>
    </svg></p>
</div>