.netflix {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.netflix>div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    box-shadow: 5px 0 50px #333;
}

.netflix>div.layout-1 {
    background: #F5F5F1;
    z-index: 3;
    transition-delay: .65s;
}

.netflix>div.layout-1 img {
    position: absolute;
    width: 40vw;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    transition-delay: 0;
}

.netflix>div.layout-2 {
    background: #221E21;
    z-index: 2;
    transition-delay: .45s;
}

.netflix>div.layout-3 {
    background: #D30018;
    z-index: 1;
    transition-delay: .3s;
}

.netflix:hover>div {
    -webkit-transform: translate3d(-110%, 0, 0);
    transform: translate3d(-110%, 0, 0);
}

.netflix:hover>div.layout-1 {
    transition-delay: .3s;
}

.netflix:hover>div.layout-1 img {
    -webkit-transform: translate(-100%, -50%, 0);
    transform: translate(-100%, -50%, 0);
}

.netflix:hover>div.layout-2 {
    transition-delay: .45s;
}

.netflix:hover>div.layout-3 {
    transition-delay: .65s;
}

/* profile */

#profiles {
    position: absolute;
    width: 40vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    transition-delay: 0;
    display: flex;
    justify-content: center;
}

.profile {
    padding: 10px;
}

.profile:hover {
    cursor: pointer;
}

.thumb {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.name {
    text-align: center;
}