<app-header></app-header>

<div class="main-container" *ngIf="auth.$user | async as $user">
	<div class="user-informations">
		<div class="block-title">
			<h3>{{'USER_INFORMATIONS' | translate}}</h3>
		</div>

		<form class="form" [formGroup]="profileForm">

			<div class="block-content" id="usersInformations">
				<div class="label-left">
					<div class="profile-picture big-profile-picture img-surrounder">
						<button mat-fab class="open" (click)="myfile.click()">
							<mat-icon>border_color</mat-icon>
						</button>
						<mat-spinner *ngIf="isUploading" class="spinner" color="accent" [diameter]="150"></mat-spinner>
						<img style="width:150px;" [src]="$user.photoURL">
					</div>
					<input #myfile type="file" style="display: none;" (change)="uploadFile($event, $user)" />
					<h2 id="userName">{{$user.displayName}}</h2>
				</div>

				<form class="form" [formGroup]="profileForm">
					<div class="form form-right">
						<h4>{{'EDIT_YOUR_EMAIL' | translate}}</h4>
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Email" [(ngModel)]="userEmail" [formControl]="email" required>
							<!-- {{$user.email}} -->
							<mat-hint>{{'NEW_EMAIL' | translate}}</mat-hint>

							<mat-error *ngIf="email.invalid">{{getErrorMessage() | translate}}</mat-error>
						</mat-form-field>

						<h4>{{'CULTURE_CHOICE' | translate}}</h4>
						<mat-form-field>
							<mat-select placeholder="Culture" [(ngModel)]="selectedValue" [formControl]="cultureValidator" required>
								<mat-option *ngFor="let culture of cultures" [value]="culture.viewValue">
									{{culture.viewValue}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="cultureValidator.required">{{getCultureErrorMessage()}}</mat-error>
						</mat-form-field>
						<button mat-flat-button id="btnSubmit" *ngIf="!email.invalid && selectedValue" (click)="uploadUserInfos($user)">{{'UPDATE_INFOS' | translate}}</button>
					</div>
				</form>
			</div>
		</form>
	</div>


	<div class="user-profile">
		<div class="block-title">
			<h3>{{'USER_PROFILES' | translate}}</h3>
		</div>
		<div class="block-content">
			<div class="form-right">
				<div id="profiles">
					<div class="profile" *ngFor="let profile of profiles" (click)="openConfirmationModal(profile)">
						<button mat-fab class="open-delete">
							<mat-icon>delete_sweep</mat-icon>
						</button>
						<img class="thumb" [src]="profile.photoUrl">
						<p class="name">{{ profile.username }} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>