.form>* {
    width: 100%;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }

  .user-informations{
	  border: solid 1px grey;
	  border-radius:5px;
	  width: 90%;
	  display: flex;
	  flex-direction: column;
	  margin-top: 12px;
	  margin-left: 50px;	  
	}

	.block-title{
		margin-left: 12px;
	}

	.block-content{
		display: flex;
	}

	.user-profile{
	  border: solid 1px grey;
	  border-radius: 5px;
	  width: 90%;
	  display: flex;
	  flex-direction: column;
	  margin-top: 12px;
	  margin-left: 50px;
	}
	

	#userName{
		text-align: center !important;
	}

	.label-left{
		margin-left: 12px;
		margin-top: 12px;
	}

	.main-container{
		margin-top: 70px;
	}

	.form-right{
		margin-left:12px;
	}

	.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
			box-sizing: content-box;   
			position: relative;
			display: inline-block; 
	}
	.profile-picture:hover .edit {
		display: block;  
	}

	.edit {
		padding-top: 70px;	
		padding-right: 70px;
		position: absolute;
		right: 0;
		top: 0;
		display: none;
	}
	
	.edit a {
		color: #ffffff;
	}

    .big-profile-picture {
        margin: 0 auto;        
        border: 5px solid #ECF0F1;
        width: 150px;
        height: 150px;
		}
		
		#profiles {
			width: 40vw;
			display: flex;
			justify-content: center;
	}
	
	.profile {
			padding: 10px;
	}
	
	.profile:hover {
			cursor: pointer;
	}
	
	.thumb {
			object-fit: cover;
			width: 120px;
			height: 120px;
			border-radius: 50% !important;
			transition: .5s ease;
	}
	
	.open {
			position: absolute;
			width: 120px;
			height: 120px;
			background: transparent;
			color: white;
			visibility: hidden;
	}
	
	.profile:hover .thumb {
			opacity: 0.2;
	}
	
	.profile:hover .open {
			visibility: visible;
	}
	
	.name {
			text-align: center;
	}