.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }

  .user-informations{
	  border: solid 1px red;
	  width: 90%;
	  display: flex;
  }