.form>* {
    width: 100%;
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
  }
  
  .example-full-width {
	width: 100%;
  }

  .user-informations{
	  border: solid 1px #C0392B;
	  border-radius:5px;
	  width: 90%;
	  display: flex;
	  flex-direction: column;
	  margin-top: 12px;
	  margin-left: 50px;	  
	}

	.block-title{
		margin-left: 12px;
	}

	.block-content{
		display: flex;
	}

	#usersInformations{
		height: 300px;
	}

	.user-profile{
	  border: solid 1px #C0392B;
	  border-radius: 5px;
	  width: 90%;
	  display: flex;
	  flex-direction: column;
	  margin-top: 12px;
	  margin-left: 50px;
	  margin-bottom: 24px;
	}
	

	#userName{
		text-align: center !important;
	}

	.label-left{
		margin-left: 12px;
		margin-top: 12px;
	}

	.open {
		position: absolute;
		height: 150px !important;
		width: 150px !important;
		background: transparent;
		color: white;
		visibility: hidden;
	}

	.open-delete {
		position: absolute;
		height: 120px !important;
		width: 120px !important;
		background: transparent;
		color: white;
		visibility: hidden;
	}

	.big-profile-picture:hover .open {
		visibility: visible !important;
	}

	.main-container{
		margin-top: 70px;
	}

	.form-right{
		margin-left:12px;
	}

	.profile-picture {
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
			box-sizing: content-box;   
			position: relative;
			display: inline-block; 
	}
	.profile-picture:hover .edit {
		display: block;  
	}

	.edit {
		padding-top: 70px;	
		padding-right: 70px;
		position: absolute;
		right: 0;
		top: 0;
		display: none;
	}
	
	.edit a {
		color: #ffffff;
	}

    .big-profile-picture {
        margin: 0 auto;        
        border: 5px solid #ECF0F1;
        width: 150px;
        height: 150px;
		}
		
		#profiles {
			width: 40vw;
			display: flex;
			justify-content: center;
	}

	.big-profile-picture:hover img{
		opacity: 0.2;
	}
	
	.profile {
			padding: 10px;
	}
	
	.profile:hover {
			cursor: pointer;
	}
	
	.thumb {
			object-fit: cover;
			width: 120px;
			height: 120px;
			border-radius: 50% !important;
			transition: .5s ease;
	}
	
	.profile:hover .thumb {
			opacity: 0.2;
	}
	
	.profile:hover .open {
			visibility: visible;
	}

	.profile:hover .open-delete {
		visibility: visible;
}
	
	.name {
			text-align: center;
	}	
	
	.profile-image {
		height: 100px;
		width: 100px;
		object-fit: scale-down;
		border-radius: 50%;
	}
	
	img {
		z-index: -1;
		transition: .3s ease;
	}
	
	.img-surrounder {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		display: inline-grid;
		cursor: pointer;
	}
	
	.profile-image-container {
		text-align: center;
		padding-bottom: 10px;
	}
	
	.spinner {
		position: absolute;
		height: 150px;
		width: 150px;
	}
	
	.img-surrounder:hover .open {
		visibility: visible !important;
	}

	.img-surrounder:hover .open-delete {
		visibility: visible !important;
	}
	
	.img-surrounder:hover img {
		opacity: 0.2;
	}

	#btnSubmit{
		background-color: #C0392B; 
	}