<div id="header">

  <img class="logo" src="/assets/logo/yflix.png" alt="" (click)="backHome()">

  <button mat-icon-button class="add-video" (click)="openModal()">
    <mat-icon aria-label="Example icon-button with a heart icon">control_point</mat-icon>
  </button>

  <div *ngIf="auth.$user | async as $user" class="dropdown">
    <img class="dropdown-btn" [src]="$user.photoURL">
    <div class="dropdown-content">
      <a (click)="openProfile()">Profile</a>
      <a (click)="disconnect()">Déconnexion</a>
    </div>
  </div>

</div>