#profiles {
    position: absolute;
    width: 40vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    transition-delay: 0;
    display: flex;
    justify-content: center;
}

.profile {
    padding: 10px;
}

.profile:hover {
    cursor: pointer;
}

.thumb {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50% !important;
    transition: .5s ease;
}

.open {
    position: absolute;
    width: 120px;
    height: 120px;
    background: transparent;
    color: white;
    visibility: hidden;
}

.profile:hover .thumb {
    opacity: 0.2;
}

.profile:hover .open {
    visibility: visible;
}

.name {
    text-align: center;
}

.logo {
    width: 110px;
    height: 55px;
    margin: 15px 60px;
    background: url("assets/logo/yflix.png");
    background-size: cover;
}

.delete-profile {
    position: relative;
    text-align: right;
    top: 40px;
}