<h1 mat-dialog-title>{{'ADD_NEW_CATEGORY' | translate}}</h1>

<div mat-dialog-content>
  <form class="form" [formGroup]="categoryForm">

    <mat-form-field appearance="outline">
      <mat-label>{{'CATEGORY_NAME' | translate}}</mat-label>
      <input [(ngModel)]="data.name" matInput placeholder="" formControlName="name">
      <mat-icon matSuffix>code</mat-icon>
      <mat-error *ngIf="fm.name.errors">
        {{ 'REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'CATEGORY_I18N' | translate}}</mat-label>
      <input [(ngModel)]="data.i18n" matInput placeholder="" formControlName="i18n">
      <mat-icon matSuffix>subtitles</mat-icon>
      <mat-error *ngIf="fm.i18n.errors">
        {{ 'REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'CATEGORY_SPANISH_TRANSLATION' | translate}}</mat-label>
      <input [(ngModel)]="data.spanish_name" matInput placeholder="" formControlName="spanish_name">
      <mat-icon matSuffix>subtitles</mat-icon>
      <mat-error *ngIf="fm.spanish_name.errors">
        {{ 'REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'CATEGORY_ENGLISH_TRANSLATION' | translate}}</mat-label>
      <input [(ngModel)]="data.english_name" matInput placeholder="" formControlName="english_name">
      <mat-icon matSuffix>subtitles</mat-icon>
      <mat-error *ngIf="fm.english_name.errors">
        {{ 'REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'CATEGORY_FRENCH_TRANSLATION' | translate}}</mat-label>
      <input [(ngModel)]="data.french_name" matInput placeholder="" formControlName="french_name">
      <mat-icon matSuffix>subtitles</mat-icon>
      <mat-error *ngIf="fm.french_name.errors">
        {{ 'REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'VIDEO_MODAL_BTN_CANCEL' | translate }}</button>
  <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="categoryForm.invalid">
    {{ 'VIDEO_MODAL_BTN_ADD' | translate }}
  </button>
</div>